<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<bean id="helloWorld" class="org.prashil.core.demo.HelloWorld" init-method = "init" destroy-method = "destroy">
		<property name="message" value="Hello"/>
	</bean> 
	<bean class="org.prashil.core.demo.InitHelloWorld"></bean>
	<bean id="gradeA" class="org.prashil.core.demo.beans.ClassRoom">
		<property name="students">
			<bean id="Student" class="org.prashil.core.demo.beans.Student" scope="prototype">
			</bean>
		</property>
		<property name="grade" value="gradeA"/>
	</bean>
	
</beans>
